<div>
  <ul style="list-style-type:none">
    {{#if signup}}
    <li onclick = "location.href='/signup'">Signup</li>
    {{/if}}
    {{#if signin}}
    <li onclick = "location.href='/signin'">Signin</li>
    {{/if}}
    {{#if home}}
    <li onclick = "location.href='/'">Home</li>
    {{/if}}
  </ul>
</div>
