<html>

<head>
  <title>Home | Blog</title>
  <link rel = "stylesheet" href = "/css/nav-bar.css" type = "text/css">
  <link rel = "stylesheet" href = "/css/sign-css.css" type = "text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

<body onLoad="change_focus(this.id,{{c}})">

  {{> header}}
  <div style="padding-left:16px;margin-top:150px;">
   {{{entries}}}
  </div>

</body>

</html>
