<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel = "stylesheet" href = "/css/sign-css.css" type = "text/css">
</head>

<body>
  {{> header}}
  <div class="wrapper">
    <form id="signup" class = "login-form" name="signup" method="post" action="/signup">
        <!--<label for="email">Email Address</label>-->
        <p class="login-title">Signup</p>
        <input class="text" name="email" type="text" placeholder="Email"/>
        <!--<label for="firstname">Firstname</label>-->
        <input name="firstname" type="text" placeholder="Firstname"/>
        <!--<label for="lastname">Lastname</label>-->
        <input name="lastname" type="text" placeholder="Lastname"/>
        <!--<label for="password">Password</label>-->
        <input name="password" type="password" placeholder="Password"/>
        <input name="confirmPassword" type="password" placeholder="Confirm Password"/>

        <input class="btn" type="submit" value="Sign Up" />
    </form>
  </div>
</body>

</html>
